[class*="AppLauncher"] {
display: none;
}

.visual-refresh [class^="form_"] {
    border: 0px;
    border-top: 1px solid var(--border-subtle);
    margin: 0px;
    border-radius: 0px;
    background-color: var(--bg-base-tertiary);
    padding: 7.9px;
    > div > div:not(.typingDots_d7ebeb), > div > div > div {
            background-color: var(--bg-base-tertiary);
    }
}
.attachedBars_d0696b >div >div {
    position: relative;
    border-radius: 8px!important;
    bottom: 20px;
}
.typing_d7ebeb {
    bottom: var(--custom-channel-textarea-text-area-height);
    background-color: none!important;
}

.typingDots_d7ebeb {
    background-color: none!important;
}
