.visual-refresh [class^="panels_"] {
    bottom: 0px;
    left: 72px;
    width: calc(100% - 72px);
    border-radius: 0px;
    background-color: var(--background-secondary);
    >[class^="container_"] {
        padding: 0px;
        margin: 0 8px;
        height: 57px;
    }
}

.visual-refresh [class^="sidebar_"] > [class*="guilds_"] {
    margin-bottom: 0px;
}
