svg, .nickname_c32acf.biteSize_c32acf, .nickname_c32acf.panel_c32acf {
  animation: colorRotate 15s linear 0s infinite;
  font-weight: bold;
  font-size: larger;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

.embedProvider_ad0b71, .embedAuthor_ad0b71, .embedTitle_ad0b71,
.embedDescription_ad0b71, .embedFields_ad0b71, .embedMedia_ad0b71,
.embedFooter_ad0b71, [class*="activityText"], [class*="username"], 
[class*="name"], [class*="modeUnreadImportant"], [class*="modeSelected"], 
[class*="modeConnected"], [class*="modeConnected"]:hover, 
[class*="modeUnreadImportant"]:hover, [class*="avatarWithText"], 
[class*="link"], [class*="container"], [class*="header"], 
[class*="scrollerContainer"], .container_e44302 *, [class*="timestamp"],
[class*="content"], .vc-trans-accessory, .overflow__993fa,.text_f7ebfd, 
[class*="cozy"], [class*="messageContent"], [class*="activityText"], 
[class*="username"]:hover, [class*="name"]:hover, 
[class*="avatarWithText"]:hover, [class*="link"]:hover, 
[class*="repliedTextPreview"], [class*="username"], [class*="name"], 
[class*="modeUnreadImportant"], [class*="modeSelected"], 
[class*="modeConnected"], [class*="modeConnected"]:hover, 
[class*="modeUnreadImportant"]:hover, [class*="avatarWithText"], 
[class*="link"], [class*="botText"], svg:hover, [class*="imestampInline"], 
[class*="repliedTextPreview"], [class*="checkbox_"], [class*="item_"]:not(:is(.item__48dda)) {
  animation: colorRotate 15s linear 0s infinite !important;
  font-weight: bold;
}

@keyframes colorRotate {
  from {
    color: #6666ff ;
  }
  10% {
    color: #0099ff ;
  }
  50% {
    color: #00ff00 ;
  }
  75% {
    color: #ff3399 ;
  }
  100% {
    color: #6666ff ;
  }
}
