/* round messages on hovering, replies, and mentions */
:root {
  --round-messages-radius: 8px;
}
[class*=cozyMessage] {
    margin-left: 4px;
    border-radius: var(--round-messages-radius);
}
[class*=cozyMessage]:before {
  width: 4px;
  height: calc(100% - 1.5*var(--round-messages-radius));
  align-self: center;
  border-radius: 2px;
  margin-left: calc(0.5*var(--round-messages-radius));
}
