/* Match channel text area to user container */
[class^="chatContent_"] form {
  padding: 0;
}

[class^="channelTextArea_"] {
  margin: 0;
}

[class^="channelTextArea_"] [class^="scrollableContainer_"] {
  border-radius: 0;
}

[class^="channelTextArea_"] [class^="scrollableContainer_"] [class^="inner_"] {
  min-height: 48px;
  padding-top: 4px;
  margin-right: 4px;
}

/* Move typing indicators */
[class^=typing_] {
  top: -24px;
  left: 0px;
  width: fit-content;
  padding-right: 9px;
  border-radius: 0 8px 0 0;
  background: var(--bg-overlay-3,var(--channeltextarea-background));
}

/* Remove single pixel padding from user container */
[class^="panels_"] [class^="container_"] {
  padding-bottom: 0;
}
/* End Match channel text area to user container */
